psycopg2-binary==2.9.9
fastapi==0.115.9
uvicorn[standard]==0.34.0
jinja2
python-multipart
websockets==15.0.1
python-dotenv==1.1.0
langchain==0.3.25
langchain-openai==0.3.21
langchain-community==0.3.24
